body{
    background-image: url(https://images.alphacoders.com/491/thumb-1920-491012.jpg);
    font-family: 'Handlee', cursive;
}
.title{
    float: left;
    margin-top: 20px;
    margin-left: 100px;
   
}
header{
    background-color: rgb(255, 255, 255);
    color: rgb(253, 59, 124);
    margin: 0px;
    height: 70px;
}
header h1{
    margin: -22px;
    margin-left: -50px;
    font-family: 'Monoton', cursive;
    font-size: 50px;
    text-align: center;
}
.contenedor1{
    background-color: rgba(255, 187, 219, 0.945);
    width: 365px;;
    height: 500px;
    float: left;
    margin: 1em;
    padding: 1em;
    border-radius: 25px;
    border: rgb(255, 255, 255) solid 5px;
    opacity: 1.0;
}
.contenedor2{
    background-color: rgba(255, 238, 139, 0.938);
    float: left;
    width: 365px;
    height: 500px;
    margin: 1em;
    padding: 1em;
    border-radius: 25px;
    border: rgb(255, 255, 255) solid 5px;
}
.contenedor3{
    background-color: rgba(255, 177, 255, 0.952);
    float: left;
    width: 365px;
    height: 500px;
    margin: 1em;
    padding: 1em;
    border-radius: 25px;
    border: rgb(255, 255, 255) solid 5px;
}
h2{
    font-size: 30px;
    margin-bottom: 3px;
}
h3{
    font-size: 30px;
    margin-bottom: 3px;
}
h4{
    font-size: 30px;
    margin-bottom: 3px;
}
section{
    float: center;
}
p{
    text-align: justify;
}